@model SectionViewModel
@inject IUnitOfWork _uow

@{
    Language language;
    if (_uow.Cookie.GetUserLanguageId != 0)
    {
         language = _uow.Language.GetById(_uow.Cookie.GetUserLanguageId);
    }
    else
    {
        language = _uow.Language.GetIsRootLang();
    }
    var blogs = _uow.Blog.GetAll().Where(p => p.Enabled == true && p.LangId == language.Id).OrderBy(p => p.CreatedDate).ToList();

}

<div class="blog-area pb-80">
    <div class="container">
        <div class="section-title-6 mb-50 text-center">
            @if (language.Title == "en-EN")
            {
                <h2>Latest News</h2>
            }
            else
            {

                <h4>Ultime Notizie</h4>
            }
        </div>
        <div class="row">
            @foreach (var item in blogs)
            {
                Sitemap sitemap = _uow.Sitemap.GetSitemapBySitemapId(Convert.ToInt32(item.SitemapId));
                string permalink = "";
                if (sitemap != null)
                    permalink = sitemap.Permalink;
                Media media1 = _uow.Media.GetMedia(Convert.ToInt32(item.MediaId));
                <div class="col-lg-4 col-md-6 col-sm-6 p-5">
                    <div class="blog-wrap mb-30 scroll-zoom">
                        <div class="blog-img mb-10">
                            <a href="@permalink"><img src=@media1.Path alt=""></a>
                            <span class="red">Lifestyle</span>
                        </div>
                        <div class="blog-content-3 text-center">
                            <h3><a href="@permalink">@item.Title</a></h3>
                            <span> <a href="@permalink">@item.ShortDescription</a></span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
