@inject IUnitOfWork _uow
@{
    bool isDeveloper = _uow.Admin.IsAccessByRole("developer");
}
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <a data-url='@Url.Action("sectionManager", "page", new { sectionName = "_Test3Section" })'
                    class="section_add__btn btn btn-block btn-outline-info">
                        Test3 Section
                    </a>
                </div>
            </div>
            <br />
            
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <a data-url='@Url.Action("sectionManager", "page", new { sectionName = "_Test2Section.cshtml" })'
                    class="section_add__btn btn btn-block btn-outline-info">
                        Test2 Section
                    </a>
                </div>
            </div>
            <br />
            
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <a data-url='@Url.Action("sectionManager", "page", new { sectionName = "_TestSection.cshtml" })'
                    class="section_add__btn btn btn-block btn-outline-info">
                        Test Section
                    </a>
                </div>
            </div>
            <br />
            

<div class="row">
    <div class="col-sm-12 col-md-12">
        <a data-url='@Url.Action("sectionManager", "page", new { sectionName = "_AboutSection" })'
           class="section_add__btn btn btn-block btn-outline-info">
            Hakkımızda Bölümü
        </a>
    </div>
</div>
<div class="row  mt-4">
    <div class="col-sm-12 col-md-12">
        <a data-url='@Url.Action("sectionManager", "page", new { sectionName = "_BreadcrumpSection" })'
           class="section_add__btn btn btn-block btn-outline-info">
            Breadcrump 
        </a>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-12 col-md-12">
        <a data-url='@Url.Action("sectionManager", "page", new { sectionName = "_CategorySection" })'
           class="section_add__btn btn btn-block btn-outline-info">
            Banner Alanı
        </a>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-12 col-md-12">
        <a data-url='@Url.Action("sectionManager", "page", new { sectionName = "_NewsSection" })'
           class="section_add__btn btn btn-block btn-outline-info">
            Latest News
        </a>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-12 col-md-12">
        <a data-url='@Url.Action("sectionManager", "page", new { sectionName = "_DiscountSection" })'
           class="section_add__btn btn btn-block btn-outline-info">
            Discount Alanı
        </a>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-12 col-md-12">
        <a data-url='@Url.Action("sectionManager", "page", new { sectionName = "_ErrorSection" })'
           class="section_add__btn btn btn-block btn-outline-info">
            404 Sayfası
        </a>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-12 col-md-12">
        <a data-url='@Url.Action("sectionManager", "page", new { sectionName = "_FeaturesSection" })'
           class="section_add__btn btn btn-block btn-outline-info">
            Features Section
        </a>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-12 col-md-12">
        <a data-url='@Url.Action("sectionManager", "page", new { sectionName = "_SecondFeaturesSection" })'
           class="section_add__btn btn btn-block btn-outline-info">
            Second Features Section
        </a>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-12 col-md-12">
        <a data-url='@Url.Action("sectionManager", "page", new { sectionName = "_ContactSection" })'
           class="section_add__btn btn btn-block btn-outline-info">
            Contact Sekmesi
        </a>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-12 col-md-12">
        <a data-url='@Url.Action("sectionManager", "page", new { sectionName = "_MensSection" })'
           class="section_add__btn btn btn-block btn-outline-info">
            Mens Section
        </a>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-12 col-md-12">
        <a data-url='@Url.Action("sectionManager", "page", new { sectionName = "_DonnaSection" })'
           class="section_add__btn btn btn-block btn-outline-info">
            Donna Section
        </a>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-12 col-md-12">
        <a data-url='@Url.Action("sectionManager", "page", new { sectionName = "_CategoryDetailSection" })'
           class="section_add__btn btn btn-block btn-outline-info">
            Category Detail Section
        </a>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-12 col-md-12">
        <a data-url='@Url.Action("sectionManager", "page", new { sectionName = "_SubCategoryDetailSection" })'
           class="section_add__btn btn btn-block btn-outline-info">
            SubCategory Detail Section
        </a>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-12 col-md-12">
        <a data-url='@Url.Action("sectionManager", "page", new { sectionName = "_MenCategoryDetailSection" })'
           class="section_add__btn btn btn-block btn-outline-info">
            Men Category Detail Section
        </a>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-12 col-md-12">
        <a data-url='@Url.Action("sectionManager", "page", new { sectionName = "_ProductDetailSection" })'
           class="section_add__btn btn btn-block btn-outline-info">
            Product Detail Section
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <a data-url='@Url.Action("sectionManager", "page", new { sectionName = "_BlogDetailSection" })'
           class="section_add__btn btn btn-block btn-outline-info">
            Blog Detay Sayfası
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <a data-url='@Url.Action("sectionManager", "page", new { sectionName = "_BlogSection" })'
           class="section_add__btn btn btn-block btn-outline-info">
            Blog Sayfası
        </a>
    </div>
</div>