@model ButtonGroupViewModel
@{ 
    string controllerName = Model.ListControllerName == null ? ViewContext.RouteData.Values["controller"].ToString() : Model.ListControllerName;
}
<div class="action_buttons">
    <div class="left_side">
        @if (Model.IsThereSubmitButton)
        {
            <input type="submit" value="@Model.SubmitButtonTitle" class="btn btn-admin" />
        }
        @if (controllerName != null)
        {
            <a class="btn btn-light-info" href="/admin/@controllerName/list/" rel="noreferrer">@Model.ListButtonTitle</a>
        }
    </div>
    @if (Model.ListButtonsPermalinks != null)
    {
        <div class="right_side">
            @foreach (var item in Model.ListButtonsPermalinks)
            {
                <a class="@item.ClassName" href="@item.Href" target="@item.Target" rel="noreferrer">@item.Title</a>
            }
        </div>
    }
</div>
