@model MenuViewModel
@inject IUnitOfWork _uow

@{
    
    var childItems = Model.Menu.children;

}

@if (childItems != null)
{
    <ul class="dropdown-menu dropdown-sub-first dropdown-sub d-block-hover">
        @foreach (var child in childItems)
        {
            if(child.children != null)
            {
                <li class="sub-li"><a class="dropdown-item" target="@child.target" href="@child.href">@child.text</a></li>
            }
            else
            {
                <li class="sub-li"><a class="dropdown-item" target="@child.target" href="@child.href">@child.text</a></li>

            }
        }
    </ul>
}



