@using service.Utilities
@model PageViewModel
@inject IUnitOfWork _uow

@{

}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- set the page title -->
	<title>@ViewData["title"]</title>
	<meta name="description" content="@ViewData["description"]">
	<base href='@Url.Content("~/")'>
	<meta name="robots">
	<!--Default colors-->
	<style>
		:scope {
			--main-color: @Model.Setting.defaultColor;
			--second-color: @Model.Setting.defaultColor2;
			--header-color: @Model.Header.headerColor;
		}
	</style>
	<!-- include the favicons -->
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	@RenderSection("styles", required: false)



	<!--THEME CSS-->
	<!-- Icon Font CSS -->
	<link rel="stylesheet" href="~/theme/flone/assets/css/icons.min.css">
	<!-- variable CSS -->
	<link href="~/theme/flone/assets/css/_variabls.css" rel="stylesheet" />
	<!-- Plugins CSS -->
	<link rel="stylesheet" href="~/theme/flone/assets/css/plugins.css">
	<!-- Main Style CSS -->
	<link rel="stylesheet" href="~/theme/flone/assets/css/style.css">


	<!-- CDNS IN HERE -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
		  integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
		  crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
		  integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
		  crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		  integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
		  crossorigin="anonymous" referrerpolicy="no-referrer" />


	<!-- YOUR CSS IN HERE -->
	<link href="~/css/responsive.css" rel="stylesheet" />
	<link href="~/css/site.css" rel="stylesheet" />


</head>

<body>
	@await Component.InvokeAsync("Header")

	<div class="fixDivWhatsapp">
		<a class="whatsappDiv" href="https://api.whatsapp.com/send?phone=393290614078" target="_blank">
			<img src="~/media/wp 3.png" />
		</a>
	</div>

	@RenderBody()

	@await Component.InvokeAsync("Footer")

	<!-- cdns in here -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
			integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
			integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
			integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw=="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="https://unpkg.com/htmx.org@1.9.10"
			integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
			crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
			integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"
			integrity="sha512-O/nUTF5mdFkhEoQHFn9N5wmgYyW323JO6v8kr6ltSRKriZyTr/8417taVWeabVS4iONGk2V444QD0P2cwhuTkg=="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>



	<!--THEME JS-->
	<script src="~/theme/flone/assets/js/vendor/modernizr-3.11.7.min.js"></script>
	<script src="~/theme/flone/assets/js/vendor/jquery-migrate-v3.3.2.min.js"></script>
	<script src="~/theme/flone/assets/js/plugins.js"></script>
	<script src="~/theme/flone/assets/js/main.js"></script>

	<!--YOUR JS-->
	<script src="~/js/language.js"></script>
	<script src="~/js/form-validations.js"></script>
	<script src="~/js/my-carousel.js"></script>
	<script src="~/js/site.js"></script>
</body>


</html>