@model List<JsonMenu>
@inject IUnitOfWork _uow

@{
    var menu = Model;
    var langs = _uow.Language.GetAll().Where(p => p.Enabled == true).ToList();
    var langNow = _uow.Cookie.GetUserLanguageId;

}

<ul id="mainmenu" class="navbar-nav gap-3 align-items-end justify-content-center">
    @foreach (var item in Model)
    {
        @if (item.children != null)
        {
            <li class="nav-item" >
                <a target="@item.target" href="@item.href" class="nav-link" aria-expanded="false">@item.text</a>
                <partial name="_ChildMenuItem" model="new MenuViewModel { Menus = Model, Menu = item }" />
            </li>
                
        }
        else
        {
            <li class="nav-item"><a class="nav-link active" aria-current="page" target="@item.target" href="@item.href">@item.text</a></li>
        }

    }
</ul>


