@model SectionViewModel
@inject IUnitOfWork _uow
@{
    Language language;
    if (_uow.Cookie.GetUserLanguageId != 0)
    {
        language = _uow.Language.GetById(_uow.Cookie.GetUserLanguageId);
    }
    else
    {
        language = _uow.Language.GetIsRootLang();
    }
}
<input type="hidden" name="sectionName" value="_CategorySection" />
<input type="hidden" name="order" value="@Model.order" />
<input type="hidden" name="langId" value="@language.Id" />
<div class="form-group">
    <label>Başlık</label>
    <input type="text" class="form-control" name="title" value="@Model.title" onkeypress="changeTitle(this);" onblur="changeTitle(this);" />
</div>
<br />
@await Component.InvokeAsync("FileUploadModal",
        new AdminFileUploadViewModel
    {
        FileUploadEntity = new FileUploadEntity
        {
            FileAccept = "image/jpg, image/png, image/jpeg",
            Label = "Fotoğraf",
            FileId = 1,
            FileType = "image",
            MediaId = Model.paramMediaId1.ToString()
        },
        AdminFileUploadModal = new AdminFileUploadModal
        {
            ModalTitle = "First Banner Photo",
        }
    })
<br />


<div class="form-group">
    <label>First Banner Title</label>
    <input type="text" class="form-control" name="paramText1" rows="4" value="@Model.paramText1" />
</div>
<div class="form-group">
    <label>First Banner Url</label>
    <input type="text" class="form-control" name="paramText2" rows="4" value="@Model.paramText2" />
</div>

@await Component.InvokeAsync("FileUploadModal",
            new AdminFileUploadViewModel
        {
            FileUploadEntity = new FileUploadEntity
            {
                FileAccept = "image/jpg, image/png, image/jpeg",
                Label = "Fotoğraf",
                FileId = 2,
                FileType = "image",
                MediaId = Model.paramMediaId2.ToString()
            },
            AdminFileUploadModal = new AdminFileUploadModal
            {
                ModalTitle = "Second Banner Photo",
            }
        })
<br />

<div class="form-group">
    <label>Second Banner Title</label>
    <input type="text" class="form-control" name="paramText3" rows="4" value="@Model.paramText3" />
</div>
<div class="form-group">
    <label>Second Banner Url</label>
    <input type="text" class="form-control" name="paramText4" rows="4" value="@Model.paramText4" />
</div>
<br />
@await Component.InvokeAsync("FileUploadModal",
            new AdminFileUploadViewModel
        {
            FileUploadEntity = new FileUploadEntity
            {
                FileAccept = "image/jpg, image/png, image/jpeg",
                Label = "Fotoğraf",
                FileId = 3,
                FileType = "image",
                MediaId = Model.paramMediaId3.ToString()
            },
            AdminFileUploadModal = new AdminFileUploadModal
            {
                ModalTitle = "Third Banner Photo",
            }
        })
<br />

<div class="form-group">
    <label>Third Banner Title</label>
    <input type="text" class="form-control" name="paramText5" rows="4" value="@Model.paramText5" />
</div>
<div class="form-group">
    <label>Third Banner Url</label>
    <input type="text" class="form-control" name="paramText6" rows="4" value="@Model.paramText6" />
</div>
<br />
