@model SectionViewModel
@inject IUnitOfWork _uow
@{
    Language language;
    if (_uow.Cookie.GetUserLanguageId != 0)
    {
        language = _uow.Language.GetById(_uow.Cookie.GetUserLanguageId);
    }
    else
    {
        language = _uow.Language.GetIsRootLang();
    }
}

<input type="hidden" name="sectionName" value="_CategoryDetailSection" />
<input type="hidden" name="order" value="@Model.order" />
<input type="hidden" name="langId" value="@language.Id" />
<div class="form-group">
    <label>Başlık</label>
    <input type="text" class="form-control" name="title" value="@Model.title" onkeypress="changeTitle(this);" onblur="changeTitle(this);" />
</div>
<br />
<div class="form-group">
    <label>First Photo Title</label>
    <input type="text" class="form-control" name="paramText1" rows="4" value="@Model.paramText1"/>
</div>
<div class="form-group">
    <label>Second Photo Title</label>
    <input type="text" class="form-control" name="paramText2" rows="4" value="@Model.paramText2">
</div>
<div class="form-group">
    <label>Third Photo Title</label>
    <input type="text" class="form-control" name="paramText3" rows="4" value="@Model.paramText3"/>
</div>
<div class="form-group">
    <label>Fourth Title</label>
    <input type="text" class="form-control" name="paramText4" rows="4" value="@Model.paramText4">
</div>
