@model SectionViewModel
@inject IUnitOfWork _uow
@{
    Language language;
    if (_uow.Cookie.GetUserLanguageId != 0)
    {
        language = _uow.Language.GetById(_uow.Cookie.GetUserLanguageId);
    }
    else
    {
        language = _uow.Language.GetIsRootLang();
    }
}
<input type="hidden" name="sectionName" value="_ContactSection" />
<input type="hidden" name="order" value="@Model.order" />
<input type="hidden" name="langId" value="@language.Id" /

<div class="form-group">
    <label>İsim</label>
    <input type="text" class="form-control" name="title" value="@Model.title" onkeypress="changeTitle(this);" onblur="changeTitle(this);" />
</div>

<div class="form-group">
    <label>Indirizzo:</label>
    <input type="text" class="form-control" name="paramText1" value="@Model.paramText1" />
</div>
<div class="form-group">
    <label>Servizio Clienti:</label>
    <input type="text" class="form-control" name="paramText6" value="@Model.paramText6" />
</div>
<div class="form-group">
    <label>Contatti esclusivamente per richieste ecommerce:</label>
    <input type="text" class="form-control" name="paramText2" value="@Model.paramText2" />
</div>
<div class="form-group">
    <label>Fax</label>
    <input type="text" class="form-control" name="paramText3" value="@Model.paramText3" />
</div>
<div class="form-group">
    <label>Mobile</label>
    <input type="text" class="form-control" name="paramText4" value="@Model.paramText4" />
</div>
<div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" name="paramText5" value="@Model.paramText5" />
</div>