@model SectionViewModel
@inject IUnitOfWork _uow
@{
    Language language;
    if (_uow.Cookie.GetUserLanguageId != 0)
    {
        language = _uow.Language.GetById(_uow.Cookie.GetUserLanguageId);
    }
    else
    {
        language = _uow.Language.GetIsRootLang();
    }
}
<input type="hidden" name="sectionName" value="_DiscountSection" />
<input type="hidden" name="order" value="@Model.order" />
<input type="hidden" name="langId" value="@language.Id" />
<div class="form-group">
    <label>Başlık</label>
    <input type="text" class="form-control" name="title" value="@Model.title" onkeypress="changeTitle(this);" onblur="changeTitle(this);" />
</div>
<br />
@await Component.InvokeAsync("FileUploadModal",
            new AdminFileUploadViewModel
        {
            FileUploadEntity = new FileUploadEntity
            {
                FileAccept = "image/jpg, image/png, image/jpeg",
                Label = "Fotoğraf",
                FileId = 1,
                FileType = "image",
                MediaId = Model.paramMediaId1.ToString()
            },
            AdminFileUploadModal = new AdminFileUploadModal
            {
                ModalTitle = "First Discount Photo",
            }
        })
<div class="form-group">
    <label>First Photo Small Title</label>
    <input type="text" class="form-control" name="paramText1" rows="4">@Model.paramText1</input>
</div>
<div class="form-group">
    <label>First Photo Big Title</label>
    <input type="text" class="form-control" name="paramText2" rows="4">@Model.paramText2</input>
</div>
<br />
@await Component.InvokeAsync("FileUploadModal",
            new AdminFileUploadViewModel
        {
            FileUploadEntity = new FileUploadEntity
            {
                FileAccept = "image/jpg, image/png, image/jpeg",
                Label = "Fotoğraf",
                FileId = 2,
                FileType = "image",
                MediaId = Model.paramMediaId2.ToString()
            },
            AdminFileUploadModal = new AdminFileUploadModal
            {
                    ModalTitle = "Second Discount Photo",
            }
        })
<div class="form-group">
    <label>Second Photo Small Title</label>
    <input type="text" class="form-control" name="paramText3" rows="4">@Model.paramText3</input>
</div>
<div class="form-group">
    <label>Second Photo Big Title</label>
    <input type="text" class="form-control" name="paramText4" rows="4">@Model.paramText4</input>
</div>
<br />