@model SectionViewModel
@inject IUnitOfWork _uow
@{
    Language language;
    if (_uow.Cookie.GetUserLanguageId != 0)
    {
        language = _uow.Language.GetById(_uow.Cookie.GetUserLanguageId);
    }
    else
    {
        language = _uow.Language.GetIsRootLang();
    }
}
<input type="hidden" name="sectionName" value="_ErrorSection" />
<input type="hidden" name="order" value="@Model.order" />
<input type="hidden" name="langId" value="@language.Id" />

<div class="form-group">
    <label>Başlık</label>
    <input type="text" class="form-control" name="title" value="@Model.title" onkeypress="changeTitle(this);" onblur="changeTitle(this);" />
</div>
<div class="form-group">
    <label>Alt Başlık</label>
    <input type="text" class="form-control" name="paramText1" value="@Model.paramText1" />
</div>
<div class="form-group">
    <label>Açıklama</label>
    <textarea class="form-control" name="description" rows="8">@Model.description</textarea>
</div>

@await Component.InvokeAsync("FileUploadModal",
    new AdminFileUploadViewModel
    {
        FileUploadEntity = new FileUploadEntity
        {
            FileAccept = "image/jpg, image/png, image/jpeg",
            FilePath = "/section/image/",
            Label = "Fotoğraf",
            FileId = 1,
            FileType = "image",
            MediaId = Model.paramMediaId1.ToString()
        },
        AdminFileUploadModal = new AdminFileUploadModal
        {
            ModalTitle = "Fotoğraf Yükleyin",
        }
    })