@model PaginatedList<Admin>
@inject IUnitOfWork _uow

@{
    ViewData["Title"] = "Yönetici Listesi";
    string defaultImage = _uow.Admin.GetDefaultProfileAvatarSrc;
}

@section libScript{
    <!--Data Tables js-->
    <script src="~/theme/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/js/my_lib/list_data_table.js"></script>
}
@section libStyle{
    <!--Data Tables -->
    <link href="~/theme/assets/plugins/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="~/theme/assets/plugins/datatable/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
}

@await Component.InvokeAsync("Breadcrumb", new BreadcrumbViewModel { Title = "Yönetici Listesi" })

<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">Yöneticiler</h4>
        </div>
        <hr />
        <table class="table table-striped table-hover" id="dataTable">
            <thead>
                <tr>
                    <th class="noExport">Fotoğraf</th>
                    <th class="noExport">Aktifleştirme</th>
                    <th> Ad </th>
                    <th> Soyad </th>
                    <th> E-Posta </th>
                    <th> Cep Telefonu </th>
                    <th> Üye Kayıt Tarihi </th>
                    <th class="noExport"> İşlemler </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var adminAvatarSrc = defaultImage;
                    <tr>
                        <td>
                            <img src="@adminAvatarSrc" class="user-img" alt="user avatar">
                        </td>
                        <td>
                            @await Component.InvokeAsync("Link", new { viewName = "Activation", vm = new LinkViewModel { Title = "Aktifleştir", IsActive = item.Enabled, DataId = item.Id, DataUrl = "/admin/admin/PublishStatus" } })
                        </td>
                        <td> @item.Name </td>
                        <td> @item.LastName  </td>
                        <td> @item.Email </td>
                        <td> @item.Phone </td>
                        <td> @item.RegisterDate </td>
                        <td>
                            @await Component.InvokeAsync("Link", new { viewName = "Default", vm = new LinkViewModel { Title = "Güncelle", Href = "/admin/admin/manage/" + item.Id } })
                            @await Component.InvokeAsync("Link", new { viewName = "Delete", vm = new LinkViewModel { Title = "Delete", DataId = item.Id, DataUrl = "/admin/admin/delete" } })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @await Component.InvokeAsync("Link", new { viewName = "Default", vm = new LinkViewModel { Title = "Yeni Ekle", Href = "/admin/" + ViewContext.RouteData.Values["controller"].ToString() + "/manage/" } })
    </div>
</div>