@model LinkViewModel
@{ 
    string iconText = null;
}
@if (Model.IconClass != null)
{
     iconText = "<i class='" + Model.IconClass + "'></i>";
}

<a class="@Model.ClassName" target="@Model.Target" href="@Model.Href">@Html.Raw(iconText) @Html.Raw(Model.Title)</a>
