@model PaginatedList<SubCategory>
@inject IUnitOfWork _uow

@{
    ViewData["Title"] = "Alt Kategori Listesi";
}

@await Component.InvokeAsync("Breadcrumb", new BreadcrumbViewModel { Title = "Alt Kategori Listesi" })

<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">Sottocategorie</h4>
        </div>
        <hr />
        <div class="table-responsive">
            <table id="dataTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center info"><span class="mr-2">Tutti</span><input type="checkbox" class="table_select__checkbox_all"></th>
                        <th class="noExport">Capitalizzazione</th>
                        <th>Titolo</th>
                        <th>Categoria</th>
                        <th class="noExport">Transazioni</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var catId = item.CategoryId;
                        var catName = _uow.Category.GetById(Convert.ToInt32(catId)).Name;
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" class="table_select__checkbox" value="1">
                            </td>
                            <td>
                                @await Component.InvokeAsync("Link", new
                                    {
                                        viewName = "Activation",
                                        vm = new LinkViewModel { Title = "Aktifleştir", DataId = item.Id, IsActive = item?.Enabled ?? false, DataUrl = "/admin/subcategory/PublishStatus" }
                                    })
                            </td>
                            <td>@item.Name</td>
                            <td>@catName</td>
@*                             <td>@_uow.Sitemap.GetById(Convert.ToInt32(item.SitemapId)).Permalink</td> *@
                            <td>
                                @await Component.InvokeAsync("Link", new { viewName = "Default", vm = new LinkViewModel { Title = "Aggiornamento", Href = "/admin/subcategory/manage/" + item.Id } })
                                @await Component.InvokeAsync("Link", new { viewName = "Delete", vm = new LinkViewModel { Title = "Cancellare", DataId = item.Id, DataUrl = "/admin/subcategory/delete" } })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Link", new { viewName = "Default", vm = new LinkViewModel { Title = "Aggiungi nuovo", Href = "/admin/" + ViewContext.RouteData.Values["controller"].ToString() + "/manage/" } })
            <div class="pagination-button">
                @{
                    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.NextPage ? "disabled" : "";
                }
                <a asp-action="list" asp-route-pageNumber="@(Model.PageIndex - 1)"
                   class="btn btn-secondary @prevDisabled">Indietro</a>
                <a asp-action="list" asp-route-pageNumber="@(Model.PageIndex + 1)"
                   class="btn btn-secondary @nextDisabled">In avanti</a>
            </div>
        </div>
    </div>
</div>

@section libScript {
    <!--Data Tables js-->
    <script src="~/theme/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/js/my_lib/list_data_table.js"></script>
    <script src="~/js/my_lib/table_select.js"></script>
}
@section libStyle {
    <!--Data Tables -->
    <link href="~/theme/assets/plugins/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="~/theme/assets/plugins/datatable/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
}