@model PaginatedList<Product>
@inject IUnitOfWork _uow

@{
    ViewData["Title"] = "Ürün Listesi";
}

@await Component.InvokeAsync("Breadcrumb", new BreadcrumbViewModel { Title = "Ürün Listesi" })

<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">Prodotti</h4>
        </div>
        <hr />
        <div>
            <table class="table betul table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Ürün fotoğrafları</th>
                        <th>Güncelle</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <a class="btn-danger btn"><i class="lni lni-gallery"></i></a></td>
                        <td> <a class="btn btn-admin"><i class="bx bx-pencil"></i></a></td>
                        <td> <a class="btn btn-admin"><i class="bx bx-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table id="dataTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th class="noExport">Capitalizzazione</th>
                        <th>Titolo</th>
                        <th>Perma Link</th>
                        <th class="noExport">Transazioni</th>
                    </tr>
                </thead>
                <tbody id="order_table">
                    @foreach (var item in Model)
                    {
                        @*var subcategoryId = @_uow.SubCategory.GetByProductId(item.Id);*@

                        <tr data-order="" data-url="/admin/@ViewContext.RouteData.Values["controller"].ToString()/changepriority" data-id="@item.Id" class="order-table-element">
                            <td>
                                @await Component.InvokeAsync("Link", new { viewName = "Activation", vm = new LinkViewModel { Title = "Capitalizzare", DataId = item.Id, IsActive = item.Enabled, DataUrl = "/admin/product/PublishStatus" } })
                            </td>
                            <td class="admin-name">@item.Name</td>
                            <td>
                                @item.Permalink
                            </td>
                            <td>
                                @await Component.InvokeAsync("Link", new { viewName = "Default", vm = new LinkViewModel { ClassName = "btn-danger btn", IconClass = "lni lni-gallery", Title = "", Href = "/admin/productimage/list?productId=" + item.Id } })
                                @await Component.InvokeAsync("Link", new { viewName = "Default", vm = new LinkViewModel { Title = "", Href = "/admin/product/manage/" + item.Id } })
                                @await Component.InvokeAsync("Link", new { viewName = "Delete", vm = new LinkViewModel { Title = "", DataId = item.Id, DataUrl = "/admin/product/delete" } })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Link", new { viewName = "Default", vm = new LinkViewModel { Title = "Yeni Ekle", Href = "/admin/" + ViewContext.RouteData.Values["controller"].ToString() + "/manage/" } })
            <div class="pagination-button">
                @{
                    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.NextPage ? "disabled" : "";
                }
                <a asp-action="list" asp-route-pageNumber="@(Model.PageIndex - 1)"
                   class="btn btn-secondary @prevDisabled">Geri</a>
                <a asp-action="list" asp-route-pageNumber="@(Model.PageIndex + 1)"
                   class="btn btn-secondary @nextDisabled">İleri</a>
            </div>
        </div>
    </div>
</div>

@section libScript{
    <!--For table_sort js-->
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>

    <!--Data Tables js-->
    <script src="~/theme/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/js/my_lib/list_data_table.js"></script>
    <script src="~/js/my_lib/table_select.js"></script>

    <!-- Table Sort js-->
    <script src="~/js/my_lib/table_sort.js"></script>
}
@section libStyle{
    <!--Data Tables -->
    <link href="~/theme/assets/plugins/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="~/theme/assets/plugins/datatable/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
}