@model PageViewModel
@inject IUnitOfWork _uow
@{
}
<link href="~/css/footer.css" rel="stylesheet" />

<footer class="footer-section container-fluid m-0 d-flex flex-column justify-content-center align-items-center ">
    <div class="container row footer justify-content-center gap-lg-5 gap-sm-3 py-5">
        <div class="footer-div mb-3 mb-lg-0 col-lg-2 d-flex col-12 align-items-center flex-column">
            <img src="~/media/stella-logo-beyaz 1.png" class="object-fit-cover w-75 w-sm-50" />
        </div>
        <div class="footer-div mb-5 mb-lg-0 col-lg-1 col-12 d-flex flex-column">
            <h6>@Model.Setting.footerColumn1</h6>
            <p>@Model.Setting.footerColumnLink1</p>
            <p>@Model.Setting.footerColumnLink2</p>
            <p>@Model.Setting.footerColumnLink3</p>
        </div>
        <div class="footer-div mb-5 mb-lg-0 col-lg-1 col-12 d-flex flex-column">
            <h6>@Model.Setting.footerColumn2</h6>
            <p>@Model.Setting.footer2ColumnLink1</p>
            <p>@Model.Setting.footer2ColumnLink2</p>
            <p>@Model.Setting.footer2ColumnLink3</p>
        </div>
        <div class="footer-div mb-5 mb-lg-0 col-lg-3 col-12 d-flex flex-column">
            <h6>Contact</h6>
            <p>
                <span>Adress:</span>@Model.Setting.address
            </p>
            <p><span>Phone numbers:</span>@Model.Setting.phone</p>
            <p><span>Mobile:</span>@Model.Setting.secondPhone</p>
            <p><span>Fax:</span>@Model.Setting.footerColumn4</p>
            <p><span>E-mail:</span><a style="cursor:pointer">@Model.Setting.email</a></p>
            <p><span>E-mail:</span><a style="cursor:pointer">@Model.Setting.footerColumn3</a></p>
        </div>
        <div class="footer-div mb-5 mb-lg-0 col-lg-2 col-12 d-flex flex-column">
            <h6>Social Media</h6>
            <div class="d-flex align-items-center gap-4 footer-icons">
                <a href="@Model.Setting.instagram"><i class="fa-brands fa-instagram" style="color:#000"></i></a>
                <a href="@Model.Setting.facebook"><i class="fa-brands fa-facebook-f" style="color:#000"></i></a>
            </div>
        </div>
    </div>
    <div class="row footer-copyright justify-content-center col-lg-12">
        <div class="w-75">
            <p class="copyright-text">Copyright © 2024. All right reserved. <span>Design by <a href="https://webbilir.com/" target="_blank" style="text-decoration:none; color:#333;">Webbilir<img src="~/media/logo1000x1000.png" class="copyright-img" /></a></span></p>
        </div>
        <div class="back-to-top">
            <a href="#"><i class="fa-solid fa-chevron-up" style="color: #FFF;"></i></a>
        </div>
    </div>
</footer>