@model AdminPageViewModel
@inject IUnitOfWork _uow

@{
    ViewData["Title"] = "Kullanıcı Aksiyonları";
}

@await Component.InvokeAsync("Breadcrumb", new BreadcrumbViewModel { Title = "Kullanıcı Aksiyonları" })



<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">Kullanıcı Aksiyonları</h4>
        </div>
        <hr />
        <form asp-action="list" method="get">
            <div class="row mb-3">
                <div class="col-lg-3">
                    <select class="form-control" asp-for="f.q">
                        <option value="">İşlem Türü Seçiniz...</option>
                        <option value="Blog" class="filter-option">Blog</option>
                        <option value="Admin" class="filter-option">Yöneticiler</option>
                        <option value="Documentation" class="filter-option">Dökümantasyon</option>
                        <option value="Page" class="filter-option">Sayfalar</option>
                        <option value="Media" class="filter-option">Media</option>
                        <option value="ToDoList" class="filter-option">Yapılacaklar Listesi</option>
                        <option value="Language" class="filter-option">Diller</option>
                        <option value="DocumentationContent" class="filter-option">Dökümantasyon İçeriği</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <select class="form-control" asp-for="f.q2">
                        <option value="">İşlemi Seçiniz...</option>
                        <option value="Delete" class="filter-option">Silme</option>
                        <option value="Manage" class="filter-option">Güncelleme</option>

                    </select>
                </div>
                <div class="col-lg-3">
                    <select asp-for="f.userId" class="form-control">
                        <option value="">Kullanıcı seçiniz.</option>
                        @foreach (var item in _uow.Admin.GetAll(true))
                        {
                            <option value="@item.Id">@item.Name @item.LastName</option>
                        }
                    </select>
                </div>
                <div class="col-lg-3">
                    <select asp-for="f.pageSize" class="form-control">
                        <option value="">Tek seferde bu kadar göster..</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="250">250</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                        <option value="2000">2000</option>
                        <option value="5000">5000</option>
                    </select>
                </div>
                <div class="col-lg-3 mt-2">
                    <input type="submit" class="btn btn-info" value="Filtrele" />
                    <a asp-action="list" class="btn btn-outline-info">Sıfırla</a>
                </div>
            </div>
        </form>
        <div class="table-responsive filter-table">
            <table id="dataTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Başlık</th>
                        <th>Tür</th>
                        <th>Tür Id</th>
                        <th>Tarih</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody class="table-top">
                    @foreach (var item in Model.AdminActions)
                    {
                        <tr class="table-item">
                            <td>@item.RelatedTitle</td>
                            <td>@item.RelatedName</td>
                            <td>@item.RelatedId</td>
                            <td>@item.Date</td>

                            <td>
                                @if (item.RelatedType == "Manage")
                                {
                                    <span>Güncelleme</span>
                                }
                                @if (item.RelatedType == "Delete")
                                {
                                    <span>Silme</span>
                                }
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
            <div class="pagination-button">
                @{
                    var prevDisabled = !Model.AdminActions.PreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.AdminActions.NextPage ? "disabled" : "";

                    //string currentUrl = Context.Request.Scheme + "://" + Context.Request.Host + "/admin" + Context.Request.Path + Context.Request.QueryString.Value;
                }
                <form method="get">
                    <input type="hidden" name="f.q" value="@Model.f.q" />
                    <input type="hidden" name="f.q2" value="@Model.f.q2" />
                    <input type="hidden" name="f.userId" value="@Model.f.userId" />
                    <input type="hidden" name="f.pageSize" value="@Model.f.pageSize" />
                    <input type="hidden" name="f.pageNumber" value="@(Model.AdminActions.PageIndex - 1)" />
                    <button type="submit" class="btn btn-secondary @prevDisabled">Geri</button>
                </form>
                <form method="get">
                    <input type="hidden" name="f.q" value="@Model.f.q" />
                    <input type="hidden" name="f.q2" value="@Model.f.q2" />
                    <input type="hidden" name="f.userId" value="@Model.f.userId" />
                    <input type="hidden" name="f.pageSize" value="@Model.f.pageSize" />
                    <input type="hidden" name="f.pageNumber" value="@(Model.AdminActions.PageIndex + 1)" />
                    <button type="submit" class="ml-1 btn btn-secondary @nextDisabled">İleri</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section libScript{
    <!--Data Tables js-->
    <script src="~/theme/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/js/my_lib/list_data_table.js"></script>
    <script src="~/js/my_lib/table_select.js"></script>
    <script src="~/js/site.js"></script>
}
@section libStyle{
    <!--Data Tables -->
    <link href="~/theme/assets/plugins/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="~/theme/assets/plugins/datatable/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
}